<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
    <h3>Carbon Calculator App</h3>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <mat-list-item><a routerLink="/home" style="text-decoration: none;"> <mat-icon>home</mat-icon > Home</a></mat-list-item>
      <mat-list-item><a routerLink="/Transaction" style="text-decoration: none;"> <mat-icon>trending_up</mat-icon > Transactions</a></mat-list-item>
      <mat-list-item><a routerLink="/Category" style="text-decoration: none;">	<mat-icon>drag_indicator</mat-icon > Category</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  

    <mat-card>
      <mat-card-content>
        <p>Carbon Footprint Calculator Form</p>
        
        
        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput>
        </mat-form-field>
       
        <mat-form-field appearance="fill">
          <mat-label (click)="myFunc()">Category</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label (click)="myFunc()">Description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button mat-raised-button color=“accent” (click)="myFunc()" >Calculate</button>
        
      </mat-card-content>
    </mat-card>

 </mat-sidenav-container>

 <h4>
  
  © 2024 Carbon Footprint Calculator Form, Inc. Todos los derechos reservados

 </h4>

<router-outlet />


<router-outlet />
